<!doctype html>
<html lang="en">
  <head>
   <title>Registration Form</title>
   {{>header}}
  </head>
  <body>
      {{>navbar}}
            
<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        <h1 class="display-5 fw-bold">A warm welcome!</h1>
        <p class="fs-4"></p>
        <a class="btn btn-primary btn-lg" href="/">Explore</a>
      </div>
    </div>
  </div>
</header>
<section class="pt-4">
  <div class="container px-lg-5">
    <div class="row gx-lg-5">
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i>
            </div>
            <h2 class="fs-4 fw-bold">HTML</h2>
            <p class="mb-0">Learn html to make amazing web pages</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                class="bi bi-cloud-download"></i></div>
            <h2 class="fs-4 fw-bold">CSS</h2>
            <p class="mb-0">Learn CSS for make your website beautifaul and responsive</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                class="bi bi-card-heading"></i></div>
            <h2 class="fs-4 fw-bold">Bootstrap</h2>
            <p class="mb-0">Save your time with Bootstrap</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i>
            </div>
            <h2 class="fs-4 fw-bold">Reactjs</h2>
            <p class="mb-0">Create single page application with reactjs.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
            <h2 class="fs-4 fw-bold">Nodejs</h2>
            <p class="mb-0">Create run time environment with the help of Nodejs</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                class="bi bi-patch-check"></i></div>
            <h2 class="fs-4 fw-bold">PHP</h2>
            <p class="mb-0">Create your backend with PHP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; My Website 2022</p>
  </div>
</footer>

  </body>
</html>